.footer {
  background: #eaf2fd;
  height: 23rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 64px;
}

.footer__contenido {
  width: 71rem;
  height: 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__contenido img {
  width: 11rem;
  height: 3.125rem;
}

.footer__contenido-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 11.5rem;
}

.footer__contenido-enlaces a {
  font-family: "Raleway";
  font-weight: 500;
  clear: both;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__contenido-enlaces a:hover {
  color: #2a7ae4;
  text-decoration: underline;
}

.footer__contenido-enlaces a::before {
  position: absolute;
  left: 375px;
  color: #2a7ae4;
  content: "➜";
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

.footer__contenido-enlaces a:hover::before {
  position: absolute;
  left: 375px;
  text-decoration: none;
  transform: scale(1.5);
  content: "➜";
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.footer__contenido-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35rem;
}

.footer__contenido-contacto h2 {
  font-family: "Raleway";
  font-weight: 700;
}

.label {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 3rem;
  padding: 0.5rem 0.75rem;

  font-family: "Raleway";
  font-size: 0.75rem;
  font-weight: 400;
  color: #a2a2a2;
  
  
}

.input {
  border: none;
  outline: none;
  font-family: "Raleway";
  font-weight: 500;
}
.input:hover{
  border-bottom: 2px solid #2ae48d;
}
.input:focus{
  border-bottom: 2px solid #2a7ae4;
}


.mensaje {
  height: 4.125rem;
  border: none;
  outline: none;
  padding: 1rem 0.75rem;
  resize: none;
}
.mensaje:hover{
  border-bottom: 2px solid #2ae48d;
}
.mensaje:focus{
  border-bottom: 2px solid #2a7ae4;
}
.mensaje::placeholder {
  color: #a2a2a2;
}

.btn-contacto {
  width: 9rem;
  height: 3.1875rem;

  background: #2a7ae4;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.rodapie{
  display: flex;
  flex-direction: column;
  height: 6.375rem;
  background: #ffffff;

  line-height: 1.1875rem;
  font-family: 'Raleway';
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width:1024px) {
  
  .footer__contenido{
    width: 48rem;
    height: 22.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.65125rem;
  }

  .footer__contenido-contacto{
    width: 27.125rem;
    gap: .5rem;

  }  

  .footer__contenido-enlaces a::before {
    display: none;
  }
  
  .footer__contenido-enlaces a:hover::before {
    display: none;
  }

}

@media screen and (max-width:440px) {
  .footer{
    width: 100vw;
    height: 34.5625rem;
    
  }
  .footer__contenido{
    width: 20.5rem;
    height: 32.5625rem;
    flex-wrap: nowrap;
    
    gap: 1rem;

    justify-content: space-between;
  }

  .footer__contenido-links{
    gap: 1rem;
  }
  .footer__contenido-enlaces{
    text-align: center;
  }

  .footer__contenido-contacto{
    width: 20.5rem;
    
  }
  .input{
    height: 3.5rem;
  }
  
  .mensaje{
    height: 5.125rem;
  }

  .btn-contacto{
    width: 8.3125rem;
    height: 2.5rem;
  }
}
